.sf-menu.sf-style-black {
  float: right;
  margin-bottom: 1em;
  padding: 0;
    width: 100%;
}
.sf-menu.sf-style-black.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-black ul {
  padding-left: 0;
    background: #000;
	  height: 26px;
}
.sf-menu.sf-style-black a {
color: #A1A1A1;
vertical-align: text-top;
font-size: 0.8em;
line-height: 1.6em;
font-family: 'Roboto', sans-serif;
  padding: 0.75em 1em;
  
}/*
.sf-menu.sf-style-black a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-black.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-black.sf-navbar a {
  border: 0;
}
.sf-menu.sf-style-black span.sf-description {
  color: #f1f1f1;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-black li,
.sf-menu.sf-style-black li li,
.sf-menu.sf-style-black li li li,
.sf-menu.sf-style-black.sf-navbar {


}
.sf-menu.sf-style-black li:hover,
.sf-menu.sf-style-black li.sfHover,
.sf-menu.sf-style-black li.active a,
.sf-menu.sf-style-black a:focus,
.sf-menu.sf-style-black a:hover,
.sf-menu.sf-style-black a:active,
.sf-menu.sf-style-black.sf-navbar li li {
  background: #008ad2;
  color: #ffffff;
}
.sf-menu.sf-style-black.sf-navbar li ul {
  background-color: #008ad2;
}
.sf-menu.sf-style-black.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-black ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-black ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-black ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-black ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}
.sf-menu.sf-style-black.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
.sf-menu.sf-style-black li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}
.sf-menu.sf-style-black li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}
.sf-menu.sf-style-black li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}
.sf-menu.sf-style-black li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}
.sf-menu.sf-style-black li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}
.sf-menu.sf-style-black li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}
.sf-menu.sf-style-black li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}
.sf-menu.sf-style-black li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}
.sf-menu.sf-style-black li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
.sf-menu.sf-style-black li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}*/